@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';

$nb-themes: nb-register-theme((

  // add your variables here like:
  color-white: #fff,
  color-black: #000,
  color-primary-100: #E5F3F5,
  color-primary-200: #CCE6EB,
  color-primary-300: #9DBBC3,
  color-primary-400: #667E87,
  color-primary-500: #263238,
  color-primary-600: #1B2830,
  color-primary-700: #131E28,
  color-primary-800: #0C1520,
  color-primary-900: #070F1A,
  color-primary-transparent-100: rgba(38, 50, 56, 0.08),
  color-primary-transparent-200: rgba(38, 50, 56, 0.16),
  color-primary-transparent-300: rgba(38, 50, 56, 0.24),
  color-primary-transparent-400: rgba(38, 50, 56, 0.32),
  color-primary-transparent-500: rgba(38, 50, 56, 0.4),
  color-primary-transparent-600: rgba(38, 50, 56, 0.48),
  color-success-100: #E2F8D1,
  color-success-200: #C0F2A5,
  color-success-300: #8DDA72,
  color-success-400: #5DB549,
  color-success-500: #26841B,
  color-success-600: #167113,
  color-success-700: #0D5F12,
  color-success-800: #084C11,
  color-success-900: #053F11,
  color-success-transparent-100: rgba(38, 132, 27, 0.08),
  color-success-transparent-200: rgba(38, 132, 27, 0.16),
  color-success-transparent-300: rgba(38, 132, 27, 0.24),
  color-success-transparent-400: rgba(38, 132, 27, 0.32),
  color-success-transparent-500: rgba(38, 132, 27, 0.4),
  color-success-transparent-600: rgba(38, 132, 27, 0.48),
  color-info-100: #C7F9EC,
  color-info-200: #92F4E1,
  color-info-300: #59DED0,
  color-info-400: #2FBEBB,
  color-info-500: #008A93,
  color-info-600: #006C7E,
  color-info-700: #005169,
  color-info-800: #003A55,
  color-info-900: #002A46,
  color-info-transparent-100: rgba(0, 138, 147, 0.08),
  color-info-transparent-200: rgba(0, 138, 147, 0.16),
  color-info-transparent-300: rgba(0, 138, 147, 0.24),
  color-info-transparent-400: rgba(0, 138, 147, 0.32),
  color-info-transparent-500: rgba(0, 138, 147, 0.4),
  color-info-transparent-600: rgba(0, 138, 147, 0.48),
  color-warning-100: #FCF6C9,
  color-warning-200: #F9EC95,
  color-warning-300: #EDD85F,
  color-warning-400: #DBC037,
  color-warning-500: #C4A001,
  color-warning-600: #A88600,
  color-warning-700: #8D6D00,
  color-warning-800: #715600,
  color-warning-900: #5E4500,
  color-warning-transparent-100: rgba(196, 160, 1, 0.08),
  color-warning-transparent-200: rgba(196, 160, 1, 0.16),
  color-warning-transparent-300: rgba(196, 160, 1, 0.24),
  color-warning-transparent-400: rgba(196, 160, 1, 0.32),
  color-warning-transparent-500: rgba(196, 160, 1, 0.4),
  color-warning-transparent-600: rgba(196, 160, 1, 0.48),
  color-danger-100: #F9DDD0,
  color-danger-200: #F3B5A3,
  color-danger-300: #DC7E6F,
  color-danger-400: #BA4C47,
  color-danger-500: #8C191E,
  color-danger-600: #78121F,
  color-danger-700: #640C20,
  color-danger-800: #51071E,
  color-danger-900: #43041D,
  color-danger-transparent-100: rgba(140, 25, 30, 0.08),
  color-danger-transparent-200: rgba(140, 25, 30, 0.16),
  color-danger-transparent-300: rgba(140, 25, 30, 0.24),
  color-danger-transparent-400: rgba(140, 25, 30, 0.32),
  color-danger-transparent-500: rgba(140, 25, 30, 0.4),
  text-basic-color: color-basic-800,
  menu-text-color: color-basic-200,
  font-family-primary: unquote('Montserrat, sans-serif'),
  menu-item-divider-style: none
), corporate, corporate);
