<div class="bounds">

    <div class="content"
         fxFlexFill
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="50px">

        <div class="left" fxFlex="30" fxFlex.xs="55">
            <app-add-user></app-add-user>
        </div>

        <div fxFlex="30" fxFlex.xs="55">

            <nb-flip-card #flip>

                <nb-card-front>

                    <nb-card size="small" status="primary">
                        <nb-card-header>Manage Users</nb-card-header>
                        <nb-card-body>

                            <label>
                                <input #selectedUser
                                       [formControl]="filter"
                                       [nbAutocomplete]="autoControl"
                                       nbInput
                                       placeholder="Select a User"
                                       shape="round"
                                       type="text"
                                />
                            </label>

                            <nb-autocomplete #autoControl (click)="autoControl.large">

                                <nb-option (click)="selectedUser.value = null "
                                           *ngFor="let user of filteredUsers$ | async" [value]=" user.name ">
                                    {{ user.name }}

                                </nb-option>


                            </nb-autocomplete>

                        </nb-card-body>

                    </nb-card>
                </nb-card-front>

                <nb-card-back>

                    <nb-card size="small" status="primary   ">
                        <nb-card-header>Edit Users</nb-card-header>

                        <nb-card-body>

                            <form [formGroup]="userEditForm">
                                <div class="input-group">
                                    <label for="editName"></label>

                                    <input formControlName="editName" id="editName"
                                                                         nbInput shape="round"
                                                                         type="text" value="{{user.name}}"/>
                                </div>

                                <div class="input-group">
                                    <label for="editBirthDate"></label>
                                    <input formControlName="editBirthDate"
                                                                              id="editBirthDate"
                                                                              nbInput shape="round" type="text"
                                                                              value="{{user.birthDate | date}}"/>
                                </div>
                                <div class="mt-50"></div>
                                <button (click)="update(user)" class="button" nbButton status="primary">Edit
                                </button>
                                <button (click)="delete(user.id)" class="button" nbButton status="primary">Delete
                                </button>
                            </form>

                        </nb-card-body>

                    </nb-card>

                </nb-card-back>
            </nb-flip-card>

        </div>

        <div class="left" fxFlex="20">
            <nb-card id="user-list" size="small">
                <nb-list>
                    <nb-list-item *ngFor="let user of $users | async">
                        <nb-user [badgeStatus]="'success'" [name]="user.name" [title]="user.birthDate | date">
                        </nb-user>
                        <ul>
                            <li class="status open"></li>
                        </ul>
                    </nb-list-item>
                </nb-list>
            </nb-card>
        </div>
    </div>
</div>
<app-message></app-message>