@import '../../../themes';
.space-50{
  margin-top:50px;
}
.nb-theme-corporate nb-user .user-name  {
  color: nb-theme( color-black);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  margin-top:20px;
  margin-left:20px;
}

.status {
  &.open:before {
    background-color: #94E185;
    border-color: #78D965;
    box-shadow: 0 0 4px 1px #94E185;
  }

  &.in-progress:before {
    background-color: #FFC182;
    border-color: #FFB161;
    box-shadow: 0 0 4px 1px #FFC182;
  }

  &.dead:before {
    background-color: #C9404D;
    border-color: #C42C3B;
    box-shadow: 0 0 4px 1px #C9404D;
  }

  &:before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    margin-bottom: 13px;
    border: 1px solid #000;
    border-radius: 7px;
  }
}


.left{
  margin-left: auto;
}
.content {
  min-width: 300px;
  /*height: 400px;*/
}
#user-list {
  display: flex;
  width:100%;
  height:100%;
}
.mt-50{
  margin-top: 50px;
}
.button {
  margin-left:20px;
}
